# IntelliJ IDEA is an IDE for developement of this project
.idea
out/

# gradle
.gradle
build/

# just in case an jar files end up outside the build directory
*.jar

# save the gradle-wrapper so gradle is not needed to build
!gradle-wrapper.jar

# common file extensions that might be present while testing
*.csv
*.txt
*.xls
*.asc
*.gpg
*.pgp
*.DS_Store
